<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassphraseGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PassphraseGenerator.Properties.Settings>
            <setting name="WordCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SeparatorIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Capitalize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddSymbol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </PassphraseGenerator.Properties.Settings>
    </userSettings>
</configuration>